body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(140, 178, 211);
    padding: 20px;
    color: white;
}

.content{
    padding-top: 20px;
    width: 98vw;
    height: 100vh;
    background-image: url(https://st.depositphotos.com/1943535/2418/i/450/depositphotos_24182721-stock-photo-checkers-game.jpg);
    background-repeat: none;
    background-size: cover;

}
.content .heading{
    margin: 30px 0;
    text-align: center;
}
.content .heading h1,h3{
    color: white;
    margin: 0;
}
.log{
    background-color: white;
    border-radius: 10px;
    width: 30vw;
    height: 50vh;
    margin-right: auto;
    margin-left: auto;
}
.choose{
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(140, 178, 211);
    border-radius: 10px;
}
.choose div{    
    cursor: pointer;
    background-color: white;
    background-color: rgb(140, 178, 211);
}
.form{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
input{
    margin: 30px auto;
    display: block;
}
.form button{
    margin: 0 auto;
}
